@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --primary: 0 0% 0%;
    --primary-inverse: 0 0% 100%;
    --destructive: 0 100% 42%;
    --warning: 30 100% 33%;
    --disabled: 0 0% 75%;

    --button-inset-shadow: 0 0% 100%;
    --button-inset-shadow-opacity: 0.25;
  }

  .dark {
    --background: 0 0% 0%;
    --primary: 0 0% 100%;
    --primary-inverse: 0 0% 0%;
    --destructive: 0 100% 62%;
    --warning: 30 100% 62%;
    --disabled: 0 0% 50%;

    --button-inset-shadow: 0 0% 100%;
    --button-inset-shadow-opacity: 0.2;
  }
}
